@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --default-green: #1db954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
#navbar {
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;

    width: 100%;
}

#navbar-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    height: 45px;
    width: auto;
}

#navbar-items {
    list-style: none;
    display: flex;
    font-weight: bold;
}

#navbar-items li {
    padding: 0 20px;
    transition: all 0.3s ease;
}

#navbar-items li:hover {
    cursor: pointer;
    color: var(--default-green);
}

#navbar-items li:nth-child(3) {
    border-right: 1px solid white;
}

/* SHOWCASE */
#showcase {
    background: url(img/showcase.webp) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.35);
    background-blend-mode: color;

}

#showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#showcase-container h2 {
    font-size: 3em;
}

#showcase-container p {
    margin: 10px 0;
    font-size: 1.1em;
}

#btn-primary {
    background-color: var(--default-green);
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#btn-primary:hover {
    background-color: #1ed760;
    cursor: pointer;
}

/* FOOTER */
#footer {
    background-color: black;
    color: white;
    padding: 80px 0;
}

#footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer-menu {
    margin: 0 40px;
    list-style: none;
}

.footer-menu-item {
    margin: 25px 0;
    transition: all 0.3s ease;
}

.footer-menu-item:hover {
    color: var(--default-green);
    cursor: pointer;
}

.footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8em;
}

.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7em;
    transition: all 0.3s ease;
}

.socials i:hover {
    cursor: pointer;
    color: var(--default-green);
}

#footer-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: flex-end;
    font-weight: bold;
    color: #919496;
    font-size: 0.7em;
    padding-top: 50px;
}

.footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info-item {
    margin: 0 10px;
    transition: all 0.3s ease;
}

.footer-info-item:hover {
    cursor: pointer;
    color: var(--default-green);
}

#footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

#footer-info .rights .country .brazil-flag {
    width: 20px;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}