* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom, rgb(150, 150, 255), rgb(65, 0, 162));
	min-height: 100vh;
	color: #ffffff;
	width: 100%;
	padding-top: 100px;
	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

section {
	max-width: 350px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 15px 0px 10px;
}

.suggestions {
	color: #000;
}

.section-no-js form {
	display: flex;
	flex-direction: column;
}

input {
	margin: 2px 0;
}

.container {
	width: 100%;
	position: relative;
}

input {
	flex-grow: 1;
	width: 100%;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.container-grade {
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 0px 4px;
	margin: 5px;
}

#grade-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 30px;
}

#grade-list option {
	padding: 3px 4px;
	color: #ffffff;
	border-radius: 5px;
}

.suggestions {
	position: absolute;

	border-radius: 0px 0px 10px 10px;
	width: 100%;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	max-height: 70px;
	overflow-y: auto;
	display: none;
}

.suggestions li {
	padding: 8px;
	cursor: pointer;
	list-style: none;
}

.suggestions li:hover {
	background: #f0f0f0;
}

/* -- */
progress {
	width: 100%; /* Barra ocupa 100% da largura do seu contêiner */
	height: 15px;
	border-radius: 10px;
	appearance: none; /* Remove o estilo padrão */
}

progress::-webkit-progress-bar {
	background: #000000; /* Cor do fundo */
	border-radius: 10px;
	overflow: hidden;
}

progress::-webkit-progress-value {
	background: #49da4e; /* Cor do progresso */
	border-radius: 0px;
}

/* -- */

.container-buttons {
	margin: 10px;
	display: flex;
	gap: 10px;
}

button {
	all: unset;
	background-color: white;
	color: black;
	padding: 6px;
	border-radius: 7px;
	transition: all 0.15s ease;
	box-shadow: 0px 3px 3px rgb(57, 57, 57);
}

button:hover {
	cursor: pointer;
	transform: scale(1.01);
}

button:active {
	transform: scale(0.985);
}

#progress-value {
	margin: 7px 0px;
	font-size: 1.1em;
	font-weight: 600;
}

#success {
	display: none;
}
